.header{
    position: sticky;
    top:0;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header__logo{
    height: 25px;
    margin-left: 10px;
    object-fit: contain;
}

.header__left{
    display:flex;
    align-items: center;
}

.header__icons{
    display:flex;
    align-items: center;
}

.header__input{
    display:flex;
    align-items: center;
    width:40%;
    border:1px solid lightgray;
}

.header__icon{
    margin-right:10px;
}

.header__inputButton{
    width:50px !important;
    color: gray;
}

.header__input > input{
    flex:1;
    padding: 10px;
    border: none;
}
