
.header__input{
    display:flex;
    align-items: center;
    border:1px solid lightgray;
}


.header__inputButton{
    border-left: 1px solid lightgray;
    width:50px !important;
    color: gray;
}

input{
    flex:1;
    border: none;
}
