.trending{
    flex:1;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
}

.trending > h2{
    margin-left: 5px;
}

.trending > hr{
    height: 1px;
    border:0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}
